n8n/workflows/01_critical_alert_soar.json
{
  "name": "CyberSentinel \u2014 Critical Alert SOAR Playbook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "critical-alert",
        "responseMode": "responseNode",
        "options": { "rawBody": false }
      },
      "id": "webhook-critical",
      "name": "Webhook: Critical Alert Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "critical-alert"
    },
    {
      "parameters": {
        "jsCode": "const alert = $input.first().json;\nconst severity = (alert.severity || 'UNKNOWN').toUpperCase();\nconst type = alert.type || 'UNKNOWN';\nconst srcIp = alert.src_ip || 'N/A';\nconst dstIp = alert.dst_ip || 'N/A';\nconst mitre = alert.matched_mitre || alert.mitre_technique || 'N/A';\nconst score = parseFloat(alert.anomaly_score || alert.rlm_anomaly_score || 0);\nconst timestamp = alert.timestamp || new Date().toISOString();\nconst incidentId = `INC-${Date.now()}`;\nlet playbook = 'STANDARD';\nif (type === 'C2_BEACON_DETECTED') playbook = 'C2_RESPONSE';\nelse if (type === 'ACTIVE_EXPLOITATION') playbook = 'EXPLOIT_RESPONSE';\nelse if (mitre === 'T1486') playbook = 'RANSOMWARE_RESPONSE';\nelse if (mitre === 'T1048') playbook = 'EXFIL_RESPONSE';\nconst emojiMap = { CRITICAL: '\ud83d\udea8', HIGH: '\ud83d\udd34', MEDIUM: '\ud83d\udfe0', LOW: '\ud83d\udfe1' };\nreturn [{ json: { ...alert, incidentId, severity, type, srcIp, dstIp, mitre, score: score.toFixed(3), timestamp, playbook, emoji: emojiMap[severity] || '\u26a0\ufe0f', humanTime: new Date(timestamp).toUTCString(), shouldBlock: severity === 'CRITICAL' && score > 0.8 } }];"
      },
      "id": "parse-alert",
      "name": "Parse & Enrich Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/hosts/{{ $json.srcIp }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer placeholder-token" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "get-host-intel",
      "name": "Get Host Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://api.abuseipdb.com/api/v2/check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Key", "value": "=placeholder-abuseipdb-key" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "ipAddress", "value": "={{ $('Parse & Enrich Alert').item.json.srcIp }}" },
            { "name": "maxAgeInDays", "value": "90" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "ip-reputation",
      "name": "Check IP Reputation (AbuseIPDB)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "const alert = $('Parse & Enrich Alert').item.json;\nconst hostData = $('Get Host Intelligence').item.json;\nconst abuseData = $('Check IP Reputation (AbuseIPDB)').item.json?.data || {};\nconst abuseScore = abuseData.abuseConfidenceScore || 0;\nconst country = abuseData.countryCode || 'Unknown';\nconst isp = abuseData.isp || 'Unknown';\nconst profile = hostData.profile || {};\nconst anomalyScore = parseFloat(profile.anomaly_score || alert.score || 0);\nconst combinedScore = (anomalyScore * 0.6 + (abuseScore / 100) * 0.4).toFixed(3);\nlet verdict = 'INVESTIGATE';\nif (combinedScore > 0.75 || abuseScore > 80) verdict = 'MALICIOUS_CONFIRMED';\nelse if (combinedScore > 0.5 || abuseScore > 50) verdict = 'LIKELY_MALICIOUS';\nelse if (combinedScore < 0.2 && abuseScore < 10) verdict = 'LIKELY_BENIGN';\nreturn [{ json: { ...alert, hostIntel: { isBlocked: hostData.is_blocked || false, blockCount: hostData.block_count || 0, incidentCount: hostData.incident_count || 0 }, ipReputation: { abuseScore, country, isp, totalReports: abuseData.totalReports || 0 }, combinedScore, verdict, shouldBlock: verdict === 'MALICIOUS_CONFIRMED' && !hostData.is_blocked } }];"
      },
      "id": "correlate-intel",
      "name": "Correlate Intelligence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "block-condition",
              "leftValue": "={{ $json.shouldBlock }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "should-block",
      "name": "Auto-Block Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/incidents/{{ $('Correlate Intelligence').item.json.incidentId }}/block",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer placeholder-token" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "block-ip",
      "name": "Block IP (CyberSentinel API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Correlate Intelligence').item.json;\nconst blockedLine = d.shouldBlock ? '*Auto-Block:* \u2705 IP blocked by SOAR' : '*Auto-Block:* \u274c Not auto-blocked \u2014 review in dashboard';\nconst abuseInfo = d.ipReputation.abuseScore > 0 ? `AbuseIPDB: ${d.ipReputation.abuseScore}% | Country: ${d.ipReputation.country} | ISP: ${d.ipReputation.isp}` : 'AbuseIPDB: No prior reports';\nconst dashUrl = 'http://localhost:5173';\nreturn [{ json: { channel: 'C0ANVSMJTH9', text: `${d.emoji} CyberSentinel SOAR \u2014 ${d.severity}: ${d.type}`, blocks: [{ type: 'header', text: { type: 'plain_text', text: `${d.emoji} ${d.severity} \u2014 ${d.type}` } }, { type: 'section', fields: [{ type: 'mrkdwn', text: '*Source IP:*\n`' + d.srcIp + '`' }, { type: 'mrkdwn', text: '*Destination:*\n`' + d.dstIp + '`' }, { type: 'mrkdwn', text: '*MITRE ATT&CK:*\n`' + d.mitre + '`' }, { type: 'mrkdwn', text: '*Playbook:*\n`' + d.playbook + '`' }, { type: 'mrkdwn', text: `*Threat Score:*\n${d.combinedScore}` }, { type: 'mrkdwn', text: `*Verdict:*\n${d.verdict}` }] }, { type: 'section', text: { type: 'mrkdwn', text: `${blockedLine}\n${abuseInfo}` } }, { type: 'divider' }, { type: 'context', elements: [{ type: 'mrkdwn', text: 'Incident: `' + d.incidentId + '`  |  ' + d.humanTime + '  |  <' + dashUrl + '|Open Dashboard>' }] }] } }];"
      },
      "id": "build-slack-payload",
      "name": "Build Slack Alert Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "url": "https://slack.com/api/chat.postMessage",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json; charset=utf-8" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "slack-alert",
      "name": "Slack: Post Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"processed\", \"incidentId\": \"{{ $('Correlate Intelligence').item.json.incidentId }}\", \"verdict\": \"{{ $('Correlate Intelligence').item.json.verdict }}\" }"
      },
      "id": "respond",
      "name": "Respond to Bridge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook: Critical Alert Trigger": {
      "main": [[{ "node": "Parse & Enrich Alert", "type": "main", "index": 0 }]]
    },
    "Parse & Enrich Alert": {
      "main": [[
        { "node": "Get Host Intelligence", "type": "main", "index": 0 },
        { "node": "Check IP Reputation (AbuseIPDB)", "type": "main", "index": 0 }
      ]]
    },
    "Get Host Intelligence": {
      "main": [[{ "node": "Correlate Intelligence", "type": "main", "index": 0 }]]
    },
    "Check IP Reputation (AbuseIPDB)": {
      "main": [[{ "node": "Correlate Intelligence", "type": "main", "index": 0 }]]
    },
    "Correlate Intelligence": {
      "main": [[{ "node": "Auto-Block Decision", "type": "main", "index": 0 }]]
    },
    "Auto-Block Decision": {
      "main": [
        [{ "node": "Block IP (CyberSentinel API)", "type": "main", "index": 0 }],
        [{ "node": "Build Slack Alert Payload", "type": "main", "index": 0 }]
      ]
    },
    "Block IP (CyberSentinel API)": {
      "main": [[{ "node": "Build Slack Alert Payload", "type": "main", "index": 0 }]]
    },
    "Build Slack Alert Payload": {
      "main": [[{ "node": "Slack: Post Alert", "type": "main", "index": 0 }]]
    },
    "Slack: Post Alert": {
      "main": [[{ "node": "Respond to Bridge", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" },
  "tags": [{"name": "cybersentinel"}, {"name": "soar"}, {"name": "critical"}, {"name": "production"}]
}
