n8n/workflows/04_sla_watchdog.json
{
  "name": "CyberSentinel — Incident SLA Watchdog & Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-sla-check",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "manual-webhook-04",
      "name": "Manual Trigger: SLA Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "webhookId": "run-sla-check"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/auth/token",
        "method": "POST",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "admin"
            },
            {
              "name": "password",
              "value": "cybersentinel2025"
            }
          ]
        }
      },
      "id": "sla-auth",
      "name": "Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/incidents?status=OPEN&limit=200",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Authenticate'].json.access_token }}"
            }
          ]
        }
      },
      "id": "sla-fetch",
      "name": "Fetch Open Incidents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// HTTP Request splits JSON arrays — use $input.all() to collect every incident\nconst items = $input.all();\nconst incidents = items.length > 0 && Array.isArray(items[0].json)\n  ? items[0].json\n  : items.map(function(i){ return i.json; }).filter(function(i){ return i && i.incident_id; });\nconst now = Date.now();\nconst SLA = { CRITICAL: 30, HIGH: 120, MEDIUM: 480, LOW: 1440 };\nconst breached = [];\nconst warning = [];\nfor (const inc of incidents) {\n  const created = new Date(inc.created_at).getTime();\n  const ageMin = (now - created) / 60000;\n  const sev = inc.severity || 'LOW';\n  const slaMin = SLA[sev] || SLA.LOW;\n  const pct = (ageMin / slaMin) * 100;\n  if (pct >= 100) breached.push({ ...inc, age_minutes: Math.round(ageMin), sla_minutes: slaMin, pct: Math.round(pct) });\n  else if (pct >= 80) warning.push({ ...inc, age_minutes: Math.round(ageMin), sla_minutes: slaMin, pct: Math.round(pct) });\n}\nreturn [{ json: { breached, warning, total_open: incidents.length, checked_at: new Date().toISOString() } }];"
      },
      "id": "sla-check",
      "name": "Check SLA Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.breached.length + $json.warning.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "sla-has-issues",
      "name": "Any SLA Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst breached = data.breached || [];\nconst warning = data.warning || [];\nconst severityEmoji = { CRITICAL: ':rotating_light:', HIGH: ':red_circle:', MEDIUM: ':large_yellow_circle:', LOW: ':white_circle:' };\nconst buildSection = function(list, label, emoji) {\n  if (list.length === 0) return [];\n  const lines = list.slice(0, 10).map(function(inc) {\n    const e = severityEmoji[inc.severity] || ':white_circle:';\n    const id = (inc.incident_id || inc.id || 'unknown').slice(0, 8);\n    const src = (inc.affected_ips && inc.affected_ips[0]) || 'N/A';\n    const threat = inc.threat_type || inc.type || inc.title || 'Unknown';\n    return e + ' *' + id + '* \\u2014 ' + threat + ' | ' + src + ' | Age: ' + inc.age_minutes + 'm / SLA: ' + inc.sla_minutes + 'm (' + inc.pct + '%)';\n  }).join('\\n');\n  return [\n    { type: 'section', text: { type: 'mrkdwn', text: '*' + emoji + ' ' + label + ' (' + list.length + ')*' } },\n    { type: 'section', text: { type: 'mrkdwn', text: lines } }\n  ];\n};\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: ':hourglass_flowing_sand: SLA Watchdog Report', emoji: true } },\n  { type: 'section', text: { type: 'mrkdwn', text: '*Open Incidents:* ' + data.total_open + ' | *Checked:* ' + data.checked_at } },\n  { type: 'divider' },\n  ...buildSection(breached, 'SLA BREACHED', ':fire:'),\n  ...buildSection(warning, 'SLA WARNING (>80%)', ':warning:'),\n  { type: 'divider' },\n  { type: 'context', elements: [{ type: 'mrkdwn', text: 'CyberSentinel AI \\u00B7 SLA Watchdog \\u00B7 Runs every 15 min' }] }\n];\nreturn [{ json: { channel: 'C0ANVSMJTH9', text: 'SLA Alert: ' + breached.length + ' breached, ' + warning.length + ' warning', blocks } }];"
      },
      "id": "sla-build-slack",
      "name": "Build Slack SLA Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst slaData = $('Check SLA Thresholds').item.json;\nconst reportId = 'sla-' + Date.now().toString(36);\nreturn [{ json: { report_id: reportId, workflow: 'sla_watchdog', title: 'SLA Alert — ' + (slaData.breached||[]).length + ' breached, ' + (slaData.warning||[]).length + ' warning (' + new Date().toLocaleTimeString() + ')', slack_payload: d } }];"
      },
      "id": "sla-build-approval",
      "name": "Build Approval Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/reports/pending",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "sla-submit-approval",
      "name": "Submit for Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        200
      ]
    }
  ],
  "connections": {
    "Manual Trigger: SLA Check": {
      "main": [
        [
          {
            "node": "Authenticate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate": {
      "main": [
        [
          {
            "node": "Fetch Open Incidents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Open Incidents": {
      "main": [
        [
          {
            "node": "Check SLA Thresholds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SLA Thresholds": {
      "main": [
        [
          {
            "node": "Any SLA Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any SLA Issues?": {
      "main": [
        [
          {
            "node": "Build Slack SLA Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Slack SLA Alert": {
      "main": [
        [
          {
            "node": "Build Approval Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Payload": {
      "main": [
        [
          {
            "node": "Submit for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "cybersentinel"
    },
    {
      "name": "sla"
    },
    {
      "name": "slack"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-08T00:00:00.000Z",
  "versionId": "04-sla-watchdog-v1",
  "id": "wf04-sla-watchdog"
}